<p class="balance">Your balance: {{user[0].balance}}</p>
<button (click)="logout()" class="btn-primary button">Logout</button>
<div class="container">
  <div class="aside-block-1">

  </div>
  <div class="main_block">
<div *ngFor="let race of races; let i = index" class="block">
  <div *ngIf="isValid[i]==race.id; else noBet">
    <p class="header">{{race.name}}</p>
    <p class="info">Place: {{race.place}} | Date: {{race.date}} | Prize: {{race.prize}}</p>
    <form #betForm="ngForm" (ngSubmit)="addBet(betForm)">
      <div class="form-group info" >
        <p>
      <span *ngFor="let horse of race.horses; let j = index">
        <label class="radio-inline">
          {{horse.name}}
          <span class="coefficient">{{coefficients[i][j]}}x</span>
        </label>
      </span>
        </p>
        <p class="balance">Can win: {{prices[i].price}}</p>
      </div>
    </form>
  </div>
  <ng-template #noBet>
    <p class="header">{{race.name}}</p>
    <p class="info">Place: {{race.place}} | Date: {{race.date}} | Prize: {{race.prize}}</p>
    <form #betForm="ngForm" (ngSubmit)="addBet(betForm)">
      <div class="form-group" >
        <p>
      <span *ngFor="let horse of race.horses; let j = index" class="info">
        <label class="radio-inline">
        <input type="radio" value="{{coefficients[i][j]}}, {{user[0].id}}, {{race.id}}, {{horse.id}}" name="info" ngModel>
          {{horse.name}}
          <span class="coefficient">{{coefficients[i][j]}}x</span>
        </label>
      </span>
        </p>
        <input type="text"  name="bet" ngModel>
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn-primary button btn-result">Add result</button>
      </div>
    </form>
  </ng-template>
</div>
  </div>
  <div class="aside-block-2">

  </div>
</div>
